node_modules/

.expo/
.expo-shared/

.env
.env.*

.idea/
.vscode/

.DS_Store
Thumbs.db

coverage/
dist/
build/

android/.gradle/
android/local.properties
android/**/build/

ios/Pods/
ios/build/
ios/DerivedData/

*.tsbuildinfo